---

---
<section class='flex items-center justify-center m-4'>
  <div class='flex flex-col items-start justify-center px-10 py-4 bg-primary-content/60 border-2 border-primary' >
    <h2 class='w-full font-bold text-xl'>A simple, lightweight distribution</h2>
    <div class='divider my-0'></div>
    <div class='flex flex-col items-start justify-center gap-4 text-sm'>
      <p class=''>You've reached the website for <strong>Arch Linux</strong>, a lightweight and flexible Linux® distribution that tries to Keep It Simple.</p>
      <p class=''>Currently we have official packages optimized for the x86-64 architecture. We complement our official package sets with a <a href='https://aur.archlinux.org/' class='text-primary font-semibold'>community-operated package repository</a></p>
      <p class=''>Our strong community is diverse and helpful, and we pride ourselves on the range of skillsets and uses for Arch that stem from it. Please check out our <a href='https://bbs.archlinux.org/' class='text-primary font-semibold'>forums</a> and <a href='https://lists.archlinux.org/' class='text-primary font-semibold'>mailing list</a> to get your feet wet. Also glance through our <a href='https://wiki.archlinux.org/' class='text-primary font-semibold'>wiki</a> if you want to learn more about Arch.</p>
    </div>
    <div class='w-full flex items-center justify-end mt-2'>
      <a class='btn btn-sm btn-primary'>learn more...</a>
    </div>
  </div>
</section>
