---
const currentYear = new Date().getFullYear() 
---
<footer class='flex flex-col w-full h-screen px-4 py-3 items-center justify-end text-center gap-3 text-xs'>
  <p>Copyright © 2002-{currentYear} <a href="mailto:jvinet@zeroflux.org" class='text-primary font-bold'>Judd Vinet</a>, <a href="mailto:aaron@archlinux.org">Aaron Griffin</a> and <a href="mailto:anthraxx@archlinux.org" class='text-primary font-bold'>Levente Polyák</a>.</p>
  <p>The Arch Linux name and logo are recognized <a href="https://wiki.archlinux.org/title/DeveloperWiki:TrademarkPolicy" class='text-primary font-bold'>trademarks</a>. Some rights reserved.</p>
  <p>The registered trademark Linux® is used pursuant to a sublicense from LMI, the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.</p>
</footer>
