---
import darkLogo from '/assets/archlinux-dark.svg'
---

<header class='bg-neutral border-b-primary border-b-8'>
	<nav class='flex items-center justify-between px-4 py-4'>
		<figure><img src={darkLogo} alt='' class='w-32'/></figure>
	</nav>
</header>
