---

---
<section class=''>
  <div class='flex flex-col items-start justify-center bg-primary-content border-2 border-primary p-4'>
    <h3 class='font-bold text-lg'>Recent Updates (<a href='#'>more</a>)</h3>
    <div class='text-sm flex flex-col gap-1'>
      <p class=''>snes9x 1.62.2-1</p>
      <p class=''>python-aiodiscover 1.4.15-1</p>
      <p class=''>python-bleak 0.20.1-1</p>
      <p class=''>sequoia-sq 0.28.0-1	</p>
      <p class=''>firefox-developer-edition 112.0b8-1</p>
    </div>
  </div>
</section>
