---

---
<section class='my-4'>
  <form class='bg-secondary flex items-center justify-center p-3 gap-3'>
    <label for="package" class="font-bold text-md">Package Search:</label>
    <input type="search" name="package" value="" class='bg-primary-content w-[55%] py-1'>
  </form>
</section>
