---
import Searchbar from "@components/sidebar/Searchbar.astro";
import RecentUpdates from "@components/sidebar/RecentUpdates.astro";
import Links from "@components/sidebar/Links.astro";
---
<section class='w-2/6'>
  <Searchbar />
  <RecentUpdates />
  <Links />
</section>
